body{
    font: "Proxima Nova",Georgia,sans-serif;
    width:100% !important;  
    line-height: 2 !important;
}
.jumbotron{
    margin: 0px !important;
    padding: 0px;
}
.header{
    background: #689968;
    color: white !important;
    text-align: center;
}
.footer{   
    font-size: 8pt !important;
    text-align: center !important;
    margin: 0 !important;
}    
.sunday{
    background: #C6EFC6;    
}
.monday{
    background: #C6EFC6;    
}
.trs{
    background: #C6EFC6;
}
.wednesday{
    background: #C6EFC6;
}
.friday{
    background: #C6EFC6;    
}
input[type=checkbox] + label {
    font-size: 35pt;
    position: relative;
    vertical-align: 32%;
    font-variant-caps: all-petite-caps;
} 
input[type=checkbox]:checked + label {
    display: none;
} 
input[type='checkbox'] {
    -webkit-appearance:none;
    width:80px;
    height:80px;
    background:white;
    border-radius:10px;
    border:2px solid #555;
    margin-right: 15px !important;
}
input[type='checkbox']:checked {
    background: #abd;
}
h1, h2{
    padding-top: 50px;
    padding-bottom:50px;
}
hr{
    border-color: #689968 !important;
}
