body{
    font: "Proxima Nova",Georgia,sans-serif;
    width:100% !important;  
    line-height: 2 !important;
}
.jumbotron{
    margin: 0px;
    padding: 0px;
}
.header{
    background: #689968;
    color: white !important;
}
.footer{
    background: #689968;    
    color: white !important;
    font-size: 10pt;
}    
.sunday{
    padding: 50px;
    background: #C6EFC6;    
}
.monday{
    padding: 50px;
    background: #C6EFC6;    
}
.trs{
    padding: 50px;
    background: #C6EFC6;
}
.wednesday{
    padding: 50px;
    background: #C6EFC6;
}
.friday{
    padding: 50px;
    background: #C6EFC6;    
}
input[type=checkbox] + label {
    padding: 10px;
    font-size: 20pt;
    font-variant-caps: all-petite-caps;
} 
input[type=checkbox]:checked + label {
    display: none;
} 
h1{
    padding-top: 50px;
    padding-bottom:50px;
    padding-left: 100px;
    padding-right:100px;
    text-align: center;
}
hr{
    border-color: #689968 !important;
}
