body{
    font-family: "Proxima Nova",Georgia,sans-serif;
    width:100% !important;  
    line-height: 2 !important;
}
.jumbotron{
    padding: 0px !important;
    margin: 0px !important;
    background: white !important;
}
.header{
    /*font: "Oleo Script", Helvetica, sans-serif !important;*/
    background: rgba(46, 46, 46, 1);    
    text-align: center !important;
    color: white !important;
    padding: 20px 0px 20px 0px;
}
.footer{
    background: rgba(46, 46, 46, 1);
    text-align: center !important;
    color: white !important;
    padding: 0px 0px 20px 0px;
}
.monday{
    background: rgba(211, 187, 221, .6);
    padding: 40px 0px 40px 0px;
}
.trs{
    background: rgba(111, 195, 102, .6);
    padding: 40px 0px 40px 0px;
}
.wednesday{
    background: rgba(252, 132, 138, .7);
    padding: 40px 0px 40px 0px;
}
.friday{
    background: rgba(24, 157, 188, .6);  
    padding: 40px 0px 40px 0px;
}
input[type=checkbox] + label {
    font-size: 35pt;
    position: relative;
    vertical-align: 32%;
    font-variant-caps: all-petite-caps;
} 
input[type=checkbox]:checked + label {
    text-decoration: line-through;
} 
input[type='checkbox'] {
    -webkit-appearance:none;
    width:80px;
    height:80px;
    background:white;
    border-radius:10px;
    border:2px solid #555;
    margin-right: 15px !important;
}
input[type='checkbox']:checked {
    background: #abd;
}
h1, h2{
    padding-top: 5px;
    padding-bottom: 5px;
    font: serif !important;
}
hr{
    border: none;
    height: 3px;
    color: black !important;
    background-color: black !important;
}

div.timer {
    width:190px;
    height:50px;
    line-height:50px;
    font-size:36px;
    text-align:center;
    margin: 5px;
}
